<nav class="navbar navbar-light navbar-expand-md fixed-top navbar-shrink" id="mainNav">
  <div class="container"><a class="navbar-brand" href="home"><img data-aos="zoom-out" data-aos-duration="1500" data-aos-delay="500" data-aos-once="true" src="assets/img/MovieApp.png" style="height: 65px;" class="aos-init aos-animate"></a><button data-bs-toggle="collapse" class="navbar-toggler navbar-toggler-right collapsed" data-bs-target="#navbarResponsive" type="button" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation" value="Menu"><fa-icon [icon]="faBars"></fa-icon> </button>
    <div class="collapse navbar-collapse" id="navbarResponsive">
      <ul class="navbar-nav ms-auto">
        <li class="nav-item nav-link"><a class="nav-link" href="top-rated">Top Rated</a></li>
        <li class="nav-item nav-link"><a class="nav-link" href="most-popular">Most Popular</a></li>
        <li class="nav-item nav-link"><a class="nav-link" href="genres">Genres</a></li>
        <li class="nav-item nav-link"><input type="search" style="border-radius: 30px;border-width: 3px;border-style: solid;" placeholder="Search..." (keyup.enter)="onEnterSearch()" [(ngModel)]="searchQuery"></li>
      </ul>
    </div>
  </div>
</nav>

