<header class="masthead" style="background: url('assets/img/movie-theatre.jpg'), transparent;background-size: cover, auto;padding-top: 75px;">
  <div class="container">
    <h1>Top Rated Movies</h1>
    <div class="row">
      <ng-container *ngFor="let movie of allMovies">
        <div (click)="openModal(content)" class="col-md-3" style="cursor: pointer"><img class="img-fluid" src="https://image.tmdb.org/t/p//w500{{movie.poster_path}}"></div>

        <ng-template #content let-modal>
          <div class="modal-header">
            <h4 class="modal-title" id="modal-basic-title">{{movie.title}}</h4>
            <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Cross click')"></button>
          </div>
          <div class="modal-body">
            <div class="img-backdrop"><img src="https://image.tmdb.org/t/p//w500{{movie.backdrop_path}}" style="width: 100%; height: auto"></div>
            <p>
              <b>Description:</b><br> {{movie.overview}}<br><br>
              <b>Release Date:</b> {{movie.release_date}}<br>
              <b>Popularity Score:</b> {{movie.popularity}}
            </p>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-outline-dark" (click)="saveFavourite(movie.id, movie.title); modal.close()">Save as Favourite</button>
          </div>
        </ng-template>
      </ng-container>
    </div>
  </div>
</header>


