<header class="masthead" style="background: url('assets/img/movie-theatre.jpg'), transparent;background-size: cover, auto;padding-top: 75px;">
  <div class="intro-body">
    <div class="container">
      <div class="row">
        <div class="col-lg-8 mx-auto">
          <section class="photo-gallery py-4 py-xl-5">
            <div class="container">
              <h2>Currently in Theatre</h2>
              <div class="row gx-2 gy-2 row-cols-1 row-cols-md-2 row-cols-xl-3 photos">
                <div class="col item"><img class="img-fluid" src="https://loremflickr.com/640/360"></div>
                <div class="col item"><img class="img-fluid" src="https://loremflickr.com/640/360"></div>
                <div class="col item"><img class="img-fluid" src="https://loremflickr.com/640/360"></div>
                <div class="col item"><img class="img-fluid" src="https://loremflickr.com/640/360"></div>
                <div class="col item"><img class="img-fluid" src="https://loremflickr.com/640/360"></div>
                <div class="col item"><img class="img-fluid" src="https://loremflickr.com/640/360"></div>
              </div>
            </div>
          </section>
        </div>
      </div>
    </div>
  </div>
</header>
