  <div class="container">
    <h1>Genres</h1>
    <label for="dropdown">Search for a genre:</label>
    <div class="dropdown">

      <ng-multiselect-dropdown id="dropdown"
                               [placeholder]="'Genre...'"
                               [settings]="dropdownSettings"
                               [data]="dropdownList"
                               [(ngModel)]="selectedItems"

      >
      </ng-multiselect-dropdown>
    </div>

    <button type="button" class="btn btn-primary" (click)="fetchGenres();" >Search...</button>
    <div class="row">

      <ng-container *ngFor="let movie of allMovies">
        <div (click)="openModal(content)" class="col-md-3" style="cursor: pointer"><img class="img-fluid" src="https://image.tmdb.org/t/p//w500{{movie.poster_path}}"></div>

        <ng-template #content let-modal>
          <div class="modal-header">
            <h4 class="modal-title" id="modal-basic-title">{{movie.title}}</h4>
            <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Cross click')"></button>
          </div>
          <div class="modal-body">
            <div class="img-backdrop"><img src="https://image.tmdb.org/t/p//w500{{movie.backdrop_path}}" style="width: 100%; height: auto"></div>
            <p>
              <b>Description:</b><br> {{movie.overview}}<br><br>
              <b>Release Date:</b> {{movie.release_date}}<br>

              <ng-template #t let-fill="fill">
                  <span class="star" [class.full]="fill === 100">
                    <span class="half" [style.width.%]="fill">&star;</span>&star;
                  </span>
              </ng-template>

              <ngb-rating [(rate)]="movie.vote_average" [starTemplate]="t" [readonly]="true" [max]="10"></ngb-rating>
            </p>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-outline-dark" (click)="saveFavourite(movie.id, movie.title); modal.close()">Save as Favourite</button>
          </div>
        </ng-template>
      </ng-container>

    </div>
  </div>

